body {
    margin: 0;
}

header {
    display: flex;
}

#navbar{
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(25deg, #C939E6 0%, #4AD8CE 100%);
    width: 1920px;
    height: 70px;
    padding-left: 90px;
    padding-right: 90px;
}

h3{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-family: montserrat;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 121px;
    padding-bottom: 151px;;
}

.container{
    width: 360px;
    height: 400px;
    flex-shrink: 0;
    border-radius: 15px;
    border: 1px solid #DADDF1;
    background: #FFF;
    box-shadow: 0px 10px 20px 0px #DADDF1;
}
.Title{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    justify-content: center;
}
h2{
    color: #24225C;
    display: flex;
    align-items: center;
    font-size: 30px;
    font-family: montserrat;
    font-weight: bolder;
    margin-top: 30px;
    margin-bottom:5px;
}

.Title p{
    margin: 5px 0px 19px 0px;
    font-family: Helvetica;
    text-align: center;
}
form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.box-top{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

th{
    text-align: left;
    font-size: 13px;
    font-family:  Open Sans;
    font-weight:bolder;
    padding-right: 50px;
}
td {
    text-align: left;
    font-size: 13px;
    font-family: Open Sans;
    padding-right: 40px;
}


h4{
    display:flex;
    align-items: flex-start;
    margin:0px 0px 5px 50px;

} 
input[type=text]{
    width: 240px;
    height: 20px;
    border-radius: 10px;
    border: 1px solid #C939E6;
    background: #FFF;
    padding: 10px;
    margin-bottom: 10px;
}

.box-bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.choices-container{
    display: flex;
    align-items: center;
    justify-content:space-around;
}

.Back-box{
    margin-top: 19px;
    margin-left: 50px;
    margin-bottom: 56px;
}
.Next-box{
    margin-top: 19px;
    margin-right: 50px;
    margin-bottom: 56px;
}
.Back{
    width: 125px;
    height: 45px;
    border-radius: 10px;
    background-color:#FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-color:#C939E6;
    padding: 10px;
    font-family: Helvetica;
    color: Black;
}
.Next{
    width: 125px;
    height: 45px;
    border-radius: 10px;
    background-image: linear-gradient(to right, #C939E6, #7195E5);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-image:linear-gradient(to right, #C939E6, #7195E5) 1;
    padding: 10px;
    font-family: Helvetica;
    color: white;
}

